@media only screen and (max-width: 500px) {
    nav>ul {
        display: none;
    }
    nav>h1{
        font-size: 1.5em;
    }
    #burger {
        display: block;
    }
    footer{
        font-size: 0.8em;
    }
   
}